.services{
  padding: 174px 0 126px;
  background-color: #E4FDF9;
  &__title{
    font-size: 30px;
    color: $black;
    text-align: center;
    margin-bottom: 36px;
  }
  &__subtitle{
    font-size: 23px;
    text-align: center;
    color: $black;
    margin-bottom: 111px;
  }
  &__column{
    padding: 59px 49px 50px 51px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: $black;
    transition: .5s;
    &-img{
      width: 56px;
      height: 62px;
      background: url("../images/services/smartphonecopy.svg") center/cover no-repeat;
      margin-bottom: 38px;

    }
    &-title{
      margin-bottom: 26px;
      font-size: 20px;
      text-align: center;
    }
    &-info{
      margin-bottom: 64px;
      font-size: 15px;
      text-align: center;
    }
    &-btn{
      width: 151px;
      height: 56px;
      font-size: 20px;
      text-align: center;
      border: 2px solid $black;
      cursor: pointer;
      outline: none;
      background-color: transparent;
    }
    &:hover{
      background-color: $green;
      color: white;
      transition: .5s;
    }
    &:hover .services__column-btn{
      color: white;
      border: 2px solid white;
    }
    &:hover .services__column-img{
      background: url("../images/services/smartphone.svg") center/cover no-repeat;
    }
  }
}